{% extends 'lifelog/base.html' %}
{% block body_block %}

    <p>
        <button type="button" id="regBtn" class="btn bn-lg btn-primar">등록하기</button>
    </p>

    <div class="jumbotron">
        {% if logs %}
            <ul>
                {% for log in logs %}
                <li>{{ log.text }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no log present.</strong>
        {% endif %}
    </div>

    <script>
    $(document).ready( function() {
        $("#regBtn").click( function(event) {
            alert("You clicked the button using JQuery!");
        });
    });
    </script>
{% endblock %}