{% extends 'lifelog/base.html' %}
{% load bootstrap3 %}
{% block body_block %}

    <p>
        <button type="button" id="regBtn" class="btn bn-lg btn-primar" onclick="">등록하기</button>
    </p>

    <div class="jumbotron">
        {% if lines %}
            <ul>
                {% for log in lines %}
                <li>
                    <a href="{% url 'modify_form' log.id  %}">{{ log.type }}/{{ log.text }}/{{ log.log_date }}</a>
                </li>

                {% endfor %}
            </ul>
             {% bootstrap_pagination lines url="/lifelog/?page=1" size="small" %}
        {% else %}
            <strong>There are no log present.</strong>
        {% endif %}
    </div>

    <script>
    $(document).ready( function() {
        $("#regBtn").click( function(event) {
            self.location = "/lifelog/regist_form2";
        });
    });

    $(document).ready( function() {
        $("#deleteBtn").click( function(event) {
            self.location = "/lifelog/id/delete";
        });
    });
    </script>
{% endblock %}